[submodule "Instrument/library/LibPromotion/Promotion"]
	path = Instrument/library/LibPromotion/Promotion
	url = https://github.com/zhuyidian/lib_Instrument_Promotion
	branch = main
[submodule "Instrument/library/LibFrameworks/Frameworks"]
	path = Instrument/library/LibFrameworks/Frameworks
	url = https://github.com/zhuyidian/lib_Instrument_Frameworks
	branch = main
[submodule "Instrument/library/LibWebview/Webview"]
	path = Instrument/library/LibWebview/Webview
	url = https://github.com/zhuyidian/lib_Instrument_Webview
	branch = main
[submodule "Instrument/library/LibWebviewSenior/WebviewSenior"]
	path = Instrument/library/LibWebviewSenior/WebviewSenior
	url = https://github.com/zhuyidian/lib_Instrument_WebviewSenior
	branch = main
