# Instrument
/Instrument/.gradle/
/Instrument/.idea/
/Instrument/.svn/
/Instrument/java_pid5600.hprof   
/Instrument/local.properties
/Instrument/*.iml

#sample
/Instrument/sample/build/
/Instrument/sample/*.iml

#logger
/Instrument/logger/build/
/Instrument/logger/*.iml

