# Instrument
/Instrument/.gradle/
/Instrument/.idea/
/Instrument/.svn/
/Instrument/java_pid5600.hprof   
/Instrument/java_pid8156.hprof 
/Instrument/*.hprof 
/Instrument/local.properties
/Instrument/*.iml

#sample
/Instrument/sample/build/
/Instrument/sample/*.iml

#logger
/Instrument/logger/build/
/Instrument/logger/*.iml

#excel
/Instrument/excel/build/
/Instrument/excel/*.iml

#buildSrc
/Instrument/buildSrc/build/
/Instrument/buildSrc/*.iml

#buildSrc
/Instrument/crash/build/
/Instrument/crash/*.iml

